[submodule "bioformats"]
	path = bioformats
	url = git://github.com/idr/bioformats
[submodule "openmicroscopy"]
	path = openmicroscopy
	url = git://github.com/idr/openmicroscopy
[submodule "infrastructure"]
	path = infrastructure
	url = git://github.com/idr/infrastructure
[submodule "vocabulary"]
	path = vocabulary
	url = git://github.com/idr/vocabulary
[submodule "idr-metadata"]
	path = idr-metadata
	url = git://github.com/idr/idr-metadata
[submodule "pydoop-features"]
	path = pydoop-features
	url = git://github.com/idr/pydoop-features
[submodule "omero-features"]
	path = omero-features
	url = git://github.com/idr/omero-features
[submodule "idr-notebooks"]
	path = idr-notebooks
	url = git://github.com/idr/idr-notebooks
[submodule "jupyter-docker"]
	path = jupyter-docker
	url = git://github.com/idr/jupyter-docker
[submodule "jupyterhub-githubauth"]
	path = jupyterhub-githubauth
	url = git://github.com/idr/jupyterhub-githubauth
[submodule "omero-mapr"]
	path = omero-mapr
	url = git://github.com/idr/omero-mapr
[submodule "idr.openmicroscopy.org"]
	path = idr.openmicroscopy.org
	url = git://github.com/idr/idr.openmicroscopy.org
[submodule "deployment"]
	path = deployment
	url = git://github.com/idr/deployment
