[submodule "bioformats"]
	path = bioformats
	url = git://github.com/idr/bioformats
[submodule "openmicroscopy"]
	path = openmicroscopy
	url = git://github.com/idr/openmicroscopy
[submodule "infrastructure"]
	path = infrastructure
	url = git://github.com/idr/infrastructure
[submodule "omego"]
	path = omego
	url = git://github.com/idr/omego
[submodule "devspace"]
	path = devspace
	url = git://github.com/idr/devspace
[submodule "vocabulary"]
	path = vocabulary
	url = git://github.com/idr/vocabulary
[submodule "idr-metadata"]
	path = idr-metadata
	url = git://github.com/idr/idr-metadata
[submodule "pydoop-features"]
	path = pydoop-features
	url = git://github.com/idr/pydoop-features
[submodule "Mineotaur"]
	path = Mineotaur
	url = git://github.com/idr/Mineotaur
[submodule "omero-features"]
	path = omero-features
	url = git://github.com/idr/omero-features
[submodule "ome-docker"]
	path = ome-docker
	url = git@github.com:idr/ome-docker
[submodule "idr-notebooks"]
	path = idr-notebooks
	url = git://github.com/idr/idr-notebooks
[submodule "jupyter-docker"]
	path = jupyter-docker
	url = git://github.com/idr/jupyter-docker
[submodule "jupyterhub-githubauth"]
	path = jupyterhub-githubauth
	url = git://github.com/idr/jupyterhub-githubauth
[submodule "celery-example"]
	path = celery-example
	url = git://github.com/idr/celery-example
[submodule "omero-mapr"]
	path = omero-mapr
	url = git@github.com:idr/omero-mapr
[submodule "idr-demo.openmicroscopy.org"]
	path = idr-demo.openmicroscopy.org
	url = git@github.com:idr/idr-demo.openmicroscopy.org
[submodule "deployment"]
	path = deployment
	url = git://github.com/idr/deployment
